body {
  background-color: #303030;
  color: #fff;
}

/* Splash Screen */
.splash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
}


.splash-image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.splash-actions {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.splash-btn {
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  display: block;
  position: fixed;
  left:45vw;
  top:80vh;
  font-family: Arial, sans-serif;
  transition: background-color 0.2s ease;
}

.splash-btn:hover {
  background-color: #616161;
}

.splash-btn-primary {
  background-color: #6200EE;
}

.splash-btn-primary:hover {
  background-color: #3700B3;
}

.drop-zone {
  border: 2px dashed #666;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.drop-zone:hover {
  background-color: #424242;
}

.drop-zone.drag-over {
  background-color: #5a5a5a;
  border-color: #80cbc4;
}

p {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  color: #bdbdbd;
}

.drop-zone button {
  background-color: #6200EE;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.drop-zone button:hover {
  background-color: #3700B3;
}

.apptitle {
  top: 25vh;
  left:15vw;
  font-weight: bolder;
  position: fixed;
  display: block;
  font-size: 60px;
  color:white;
}

.content {
  height: 90vh;
}
